*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#f9f9f9;
}

html{
    scroll-behavior: smooth;
}

header{
    color: black;
    background-color: black;
    border-radius: 10px;
    position:relative;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.0);
    padding: 0;
    margin: 0;
}
.logo{
    margin: 20px; 
     display: flex;
    align-items: center;
    padding: 10px 20px;
    
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 70px;
    position:relative;
    width: 100%;
    z-index: 2000;
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px rgba(0, 0, 0, 0.1) solid;
    transition: scale 0.2 ease;
    backdrop-filter:blur(4px);
}

a{
    text-decoration: none;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    
    
}
.navbar:hover{
     
}
.navbar ul{
    display: flex;
    list-style: none;
    gap:30px;
}
.navbar ul li a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    height: 100vh;
}
.navbar ul li a:hover{
    background-color:  rgb(134, 153, 24);
    padding: 10px 10px;
    border-radius: 20px;
    scale: 1.05;
    
}
.toggle{

    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    margin-right: 20px;

}
.connect{
    text-decoration: none;
    background-color: rgb(217, 255, 0) ;
    padding: 10px 10px;
    color: white;
    font-weight: bolder;
    border-radius: 20px;
    margin-right: 20px;
    transition: scale 0.2 ease;
}
.connect:hover{
    background-color:  rgb(134, 153, 24);
    scale: 1.05;
}
.toggle_menu{
    position: fixed;
    right: 2rem;
    top: 67px;
    width: 300px;
    height: 0;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(55px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    display: none;
}
.toggle_menu_open{
    height: 270px;
    z-index: 1000;

}
.toggle_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.toggle_menu .connect{
    width: 90%;
    display: flex;
    justify-content: center;
}

.toggle_menu li a{
     text-decoration: none;
    color: white;
    font-weight: bolder;

}
.toggle_menu li a:hover{
    background-color:  rgb(134, 153, 24);
    padding: 10px 10px;
    border-radius: 20px;
    scale: 1.05;
}



.corps{
    padding: 20px;
    background-color:#f9f9f9;
}
.acceuil{
    background-image: url('salon-unfocused-avec-une-image-sur-le-mur.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}
.txt_acceuil h1{
    font-size:32px ;
    margin-bottom: 20px;
}
.btn1{
    background-color: rgb(217, 255, 0);
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
    transition: scale 0.2 ease;
}
.btn1:hover{
    background-color:  rgb(134, 153, 24);
    scale: 1.05;
}
.img1{
    height: 67px;
    width: auto;
}
.a-propos{
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
     border: #555;
    box-shadow:  10px 10px 15px rgba(0.1,0.1, 0.1, 0.1) ;
    padding: 20px;
    width: auto;
}

.txt2{
    
    height: 70%;
    width: auto;
    background-color:#f9f9f9;
    padding: 20px;
    border-radius: 15px;
    box-shadow:  10px 10px 15px rgba(0.1,0.1, 0.1, 0.1) ;
    
    
    

    
    
}
.txt2 h1{
    text-align: center;
    position:relative;
    top:-20px;
    font-size: 32px;
    margin-bottom: 20p meme chose;
}
.txt2 p{
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
    line-height: 1.6;
}
.btn2{
    background-color:  rgb(217, 255, 0);
    border-radius: 20px;
    padding: 10px 10px;
    color: rgb(21, 17, 17);
    font-weight: bolder;
    position: relative;
    top: 15px;
    transition: scale 0.2 ease;
}
.btn2:hover{
    background-color:  rgb(134, 153, 24);
    scale: 1.05;
}

.section2{
    margin-top: 30px;
     background-color:white;
    border: #555;
    box-shadow:  10px 10px 15px rgba(0.1,0.1, 0.1, 0.1) ;
    width: auto;
    height: 100vh;
    
}
.à-louer{
    gap: 10px;
    display: flex;
    background-color:white;
    height: 100%;
    width: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.btn3{
     background-color:  rgb(217, 255, 0);
    border-radius: 20px;
    padding:5px;
    color: rgb(21, 17, 17);
    font-weight: bolder;
    position: relative;
    top: 15px;
    transition: scale 0.2 ease;
    padding: 5px 10px;

}
.btn3:hover{
      background-color:  rgb(134, 153, 24);
    scale: 1.05;
}



.à-louer div{
    background-color:white;
    width: 20%;
    height: 48%;
     border: #555;
     border-top: 2px solid #FFFFFF75;
     border-left: 2px solid #FFFFFF75;
     border-radius: 15px;
    box-shadow:  10px 10px 15px rgba(0.1,0.1, 0.1, 0.1) ;
    padding: 5px;
    overflow: hidden;
    flex-basis: 270px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}
.à-louer div:hover{
    transform: translateY(-10px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    
}
.à-louer div img{
    width: 100%;
    height: 200px;
    background-size: cover;
    
    
}


.pform{

    height: 500px;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;

}

form {
    max-width: 500px;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="submit"] {
    background-color:   rgb(217, 255, 0);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    transition: scale 0.2 ease;
}

input[type="submit"]:hover {
    background-color:  rgb(134, 153, 24);
}

.Contact h2 {
    position: relative;
    top: -40px;
    padding-left: 20px;
    padding-right: 20px;
}
footer{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: gray ;
    height: 60px;
    width: 100%;
}



.gallery-contenair{
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-color: red;

}
.gallery-item{
    flex-basis: 32.7%;
    margin-bottom: 6px;
}
.gallery-item img{
    width: 100%;
    height: 100%;
}



@media (max-width:1070px){
    .navbar,.connect{
        display: none;
    }
    .toggle{
        display: block;
    }
    .toggle_menu{
        display: block;
    }

}
@media(max-width:1500px ){
    .section2{
        height: 100%;
        width: auto;
        
    }
    


}



@media (max-width:1070px){
   .toggle_menu{
    width: unset;
    left: 2rem;
    

   }
}
  /*smartphone

     .à-louer div{
        height: 325px;
        width: auto;
        
    }
}
/*Tablette*
@media (min-width:600px) and (max-width:1024px) {
     .à-louer div{
        height: 325px;
        width: auto;
        background-color: white;}
 
}
 */

/*Petits pc*/
@media (max-width:1000px){
    .pform{
    width: 70%;
 }


}



@media (max-width:1500px){
    .à-louer div{
        height: 325px;
        width: auto;
        background-color:white;
     border: #555;
    box-shadow:  10px 10px 15px rgba(0.1,0.1, 0.1, 0.1) ;
    flex-basis: 270px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}
.à-louer div:hover{
    transform: translateY(-10px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    

    }
 

}



